$background_color: #FAFAFA;
$form_background_color: #FFFFFF;
$input_background_color: #FAFAFA;
$input_border_color: #DBDBDB;
$input_border_selected_color: #A8A8A8;
$button_background_color: #0095F6;
$button_foreground_color: #FFFFFF;
$error_foreground_color: #FF2F41;
$form_border_radius: 2px;

@mixin mobile {
  @media only screen and (max-width: 991.98px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}